²rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isUser() {
      let regex = '.*@pedagogiefde[.]org';
      return request.auth != null && request.auth.token.email.matches(regex);
    }
    function isConcernUser(id) {
      return isUser() && request.auth.uid == id
    }
    function isAdmin() {
      return request.auth != null && exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
    function isMod() {
      return request.auth != null && exists(/databases/$(database)/documents/moderators/$(request.auth.uid));
    }
    function hasUser() {
    	return isUser() && request.auth.uid in resource.data.entrants
    }
    match /{document=**} {
      allow read, write: if isAdmin();
    }
    match /users/{userId} {
      allow write: if isConcernUser(userId) || isMod();
      allow read: if isUser() || isMod();
    }
    match /relations/{relationId} {
      allow create: if isUser() || isMod();
    	allow read, update, delete: if hasUser();
      allow read, write: if isMod();
      match /messages/{message} {
        allow read, create: if isUser() && request.auth.uid in get(/databases/$(database)/documents/relations/$(relationId)).data.entrants;
      }
      match /entrants/{userId} {
        allow read: if (isUser() && request.auth.uid in get(/databases/$(database)/documents/relations/$(relationId)).data.entrants) || isMod();
        allow write: if isConcernUser(userId) || isMod();
      }
    }
  }
}
